.titulo{

    border: 3px solid black;
}

.fondo{

    background: skyblue;
    display: table;
    width: 97%;
    height: 800px;
}

.fondo div{
    display: table-cell;
}
.fondo{

    position: relative;
    padding: 20px;
    background-color: skyblue;
    border: 3px solid black;
}

.info{

    font-style: normal;
    margin: 100px;
}

.info img{
    display: block;
    margin: auto;
}

.info p{
    text-align: center;
}

.info p input{
    display: block;
    margin: auto;

}

.menu {

    margin: auto;
}

.menu li{

    list-style: none;
    background-color: black;

}

.menu li a {

    color: aliceblue;
    text-decoration: none;
    margin-left: 1080px;

}